@model DecorStore.ViewModel.CartViewModel
<div class="container-fluid">
    @if (Model.CartItems.Count > 0)
    {

        <div class="row px-xl-5">
            <div class="col-lg-7">
                <form asp-controller="Cart" asp-action="Payment" method="post">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thông tin hóa đơn</span></h5>
                    <div class="bg-light p-30 mb-5">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Họ tên</label>
                                <input class="form-control" type="text" placeholder="Họ tên">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Địa chỉ</label>
                                <input name="diachi" class="form-control" type="text" placeholder=" Ghi rõ số nhà, đường, kp,..">
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Số điện thoại</label>
                                <input class="form-control" type="text" placeholder="+0123 456 789">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Ghi chú của khách hàng</label>
                                <input name="note" class="form-control" type="text" placeholder="...">
                            </div>


                            @* <div class="col-md-6 form-group">
                        <label>Country</label>
                        <select class="custom-select">
                        <option selected>United States</option>
                        <option>Afghanistan</option>
                        <option>Albania</option>
                        <option>Algeria</option>
                        </select>
                        </div> *@
                            @* <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                        <label>State</label>
                        <input class="form-control" type="text" placeholder="New York">
                        </div> *@

                            @* <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="newaccount">
                        <label class="custom-control-label" for="newaccount">Create an account</label>
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="shipto">
                        <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                        </div>
                        </div> *@
                        </div>
                    </div>
                    <div class="collapse mb-5" id="shipping-address">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                        <div class="bg-light p-30">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" placeholder="John">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="Doe">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="example@email.com">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Mobile No</label>
                                    <input class="form-control" type="text" placeholder="+123 456 789">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 1</label>
                                    <input class="form-control" type="text" placeholder="123 Street">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 2</label>
                                    <input class="form-control" type="text" placeholder="123 Street">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select class="custom-select">
                                        <option selected>United States</option>
                                        <option>Afghanistan</option>
                                        <option>Albania</option>
                                        <option>Algeria</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>City</label>
                                    <input class="form-control" type="text" placeholder="New York">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>State</label>
                                    <input class="form-control" type="text" placeholder="New York">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>ZIP Code</label>
                                    <input class="form-control" type="text" placeholder="123">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Phương thức thanh toán</span></h5>
                        <div class="bg-light p-30">
                            @* <div class="form-group">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="payment" id="paypal">
                        <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                        <label class="custom-control-label" for="directcheck">Direct Check</label>
                        </div>
                        </div> *@
                            @* <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                        <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                        </div> *@
                            <div id="paypal-button-container"></div>
                            <button style="border-radius: 5px;" type="submit" class="btn btn-info btn-block font-weight-bold py-3">Tiền mặt</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        @foreach (var item in Model.CartItems)
                        {
                            <div class="d-flex justify-content-between">
                                <p>@item.Name</p>
                                <p>@(item.Price * item.Quantity)</p>
                            </div>
                        }
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Tổng cộng</h6>
                            <h6>$@ViewBag.Tongtien</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$5</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Tổng tiền</h5>
                            <h5>@(ViewBag.TongTien + 5)</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        <h6 class="alert alert-danger"> Bạn chưa có sản phẩm nào trong giỏ hàng để thanh toán</h6>
    }
    
</div>
<script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientdId"></script>
<script>
    paypal.Buttons({
        style: {
            layout: 'vertical',
            color: 'gold',
            tagline: 'false'
        },
        createOrder: (data, actions) => {
            return fetch("/Cart/create-paypal-order", {
                method: "post",
            }).then((response) => {
                if (!response.ok) {
                    return response.json().then(error => { throw error; });
                }
                return response.json();
            }).then((order) => order.id)
                .catch(error => alert(error.message));
        },
        onApprove: (data, actions) => {
            return fetch(`/Cart/capture-paypal-order?orderId=${data.orderID}`, {
                method: "post",
            }).then((response) => {
                if (!response.ok) {
                    return response.json().then(error => { throw error; });
                }
                //Đổi địa chỉ tới action thông báo thành công
                window.location.href = "/hoan-thanh";
            }).catch(error => alert(error.message));
        }
    }).render('#paypal-button-container');
</script>