@model DecorStore.ViewModel.InfoViewModel
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 shop-detail-container">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
                <span class="bg-secondary pr-3">Thông tin cửa hàng</span>
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Giới thiệu về Decorin Store</h2>
                    <p> Decorin Store là thương hiệu được sinh ra từ giấc mơ của những con người bình thường nhưng yêu thích cái đẹp giản đơn, hiện đại, phát triển bởi tập thể người Việt để phục vụ cho cộng đồng con người Việt Nam.</p>

                    <p>Đội ngũ tư vấn của Decorin không đơn thuần là nhân viên tư vấn bình thường, chúng tôi còn là những người yêu thích công việc trang trí với mong muốn giúp bạn cùng đam mê có những không gian đã được thêm thắt hài lòng theo mong muốn và vô cùng phù hợp.</p>

                    <p>Sự hài lòng của khách hàng chính là động lực giúp Decorin không ngừng hoàn thiện, mang lại ngày càng nhiều giá trị tích cực cho cộng đồng.</p>

                    <h2>Kinh nghiệm</h2>
                    <p> Decorin Store bao gồm các gương mặt đầy kinh nghiệm trong lĩnh vực trang trí nội thất. Với hơn trên dưới 3 năm chinh chiến trong nghê. Chúng tôi đảm bảo sẽ mang đến cho quý khách hàng một trải nghiệm tốt và hài lòng nhất có thể</p>
                    <footer>Chúc bạn có thời gian mua sắm vui vẻ nhất</footer>
                </div>
                <div class="col-lg-6">
                    <img src="https://spacet-release.s3.ap-southeast-1.amazonaws.com/img/blog/2023-11-07/decor-phong-ngu-theo-phong-cach-noi-that-han-quoc-dang-tro-nen-rat-thinh-hanh-vai-nam-gan-day-dac-biet-la-gioi-tre-6549f9512de427ad96e7b8fe.webp" class="img-fluid" alt="Shop Detail Image">
                </div>
            </div>
        </div>
    </div>
</div>